.DS_Store
complex.dbs.bak
*.vsidx
*.exe
*.o
*.mod
*~
~*
src/project/makefile/min3p-*
src/project/makefile_omp/min3p-*
src/project/makefile_p/min3p-*
src/project/makefile_hybrid/min3p-*
src/project/visualstudio/.vs/*
src/project/visualstudio/MIN3P_THCm.u2d
src/project/visualstudio_omp/.vs/*
min3p/src/project/visualstudio_omp/MIN3P_THCm.u2d
src/project/visualstudio/x64/*
src/project/visualstudio_omp/x64/*
src/project/archisimple/x64/*
updates.txt
min3p_env/


src/version/Resource.rc

src/version/RepoParams.h
src/project/archisimple/archisimple.vcxproj.filters
src/project/archisimple/archisimple.vcxproj.user
src/project/archisimple/x64/Debug/archisimple.Build.CppClean.log
src/project/archisimple/x64/Debug/archisimple.lib.recipe
src/project/archisimple/x64/Debug/archisimple.log
src/project/archisimple/x64/Debug/archisimple.vcxproj.FileListAbsolute.txt
src/project/archisimple/x64/Release/archisimple.Build.CppClean.log
src/project/archisimple/x64/Release/archisimple.lib.recipe
src/project/archisimple/x64/Release/archisimple.log
src/project/archisimple/x64/Release/archisimple.vcxproj.FileListAbsolute.txt
