.DS_Store
*.vsidx
*.exe
*.o
*.mod
*~
~*
src/project/makefile/min3p-*
src/project/makefile_omp/min3p-*
src/project/makefile_p/min3p-*
src/project/makefile_hybrid/min3p-*
src/project/visualstudio/.vs/*
src/project/visualstudio/MIN3P_THCm.u2d
src/project/visualstudio_omp/.vs/*
min3p/src/project/visualstudio_omp/MIN3P_THCm.u2d
src/project/visualstudio/x64/*
src/project/visualstudio_omp/x64/*
updates.txt
min3p_env/


src/version/Resource.rc

src/version/RepoParams.h
